body {
    background: -webkit-linear-gradient(180deg, #000 12.5%, rgba(0, 0, 0, 0) 12.5%), -webkit-linear-gradient(180deg, #ffffff 87.5%, #000000 87.5%);
}
.title{
  font-size: 50px;
  margin-bottom:5px;
  margin-top: 10px;
}

a:link { 
  text-decoration: none; 
  margin-left: 20px;
  font-style: italic;
  color: #000;
}
a:visited { text-decoration: none;   color: #000;}
a:hover { text-decoration: none;   color: #000;}
a:active { text-decoration: none;   color: #000;}


.center {
    margin: auto;
    width: 50%;
    border: 3px solid #000000;
    padding: 10px;
    margin-top: 20px;
    text-align: center;  
    margin-bottom:10px;
}
.image{
  padding-top: 60px;
  text-align: center;
  margin: auto;
}

.first{
  width:850px;
  height: 1000px;
  object-fit: cover;
}
.two{
  width: 850px; 
  height:850px; 
  object-fit:cover;
}
.three{
  width:850px; 
  margin-bottom: 60px;
}

.page2{
  font-size: x-large;
  font-weight: bold;
  text-align: left;
  margin-left: 12.5%;
}


